USE [master]
GO
/****** Object:  Database [LIBRARY_DB]    Script Date: 8/16/2023 6:59:54 AM ******/
CREATE DATABASE [LIBRARY_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIBRARY_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LIBRARY_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LIBRARY_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LIBRARY_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIBRARY_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIBRARY_DB]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 8/16/2023 6:59:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](50) NOT NULL,
	[AUTHOR] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[EDITION] [varchar](50) NULL,
	[YEAR] [int] NULL,
	[ISBN] [varchar](50) NULL,
 CONSTRAINT [PK_BOOK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_IDENTIFICATION]    Script Date: 8/16/2023 6:59:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_IDENTIFICATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOK_ID] [int] NOT NULL,
	[SERIAL_NO] [varchar](50) NOT NULL,
	[STATUS] [int] NOT NULL,
 CONSTRAINT [PK_BOOK_IDENTIFICATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOK_IDENTIFICATION]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_IDENTIFICATION_BOOK] FOREIGN KEY([BOOK_ID])
REFERENCES [dbo].[BOOK] ([ID])
GO
ALTER TABLE [dbo].[BOOK_IDENTIFICATION] CHECK CONSTRAINT [FK_BOOK_IDENTIFICATION_BOOK]
GO
USE [master]
GO
